#container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);    
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#submit_goal_goal_input{
  font-size: 1.5em;
  height: 2em;
}

#goal_submit{
  font-size: 1.5em;
  height: 2em;
}

/* Hack around janrain squished header */
#janrainProviderPages { padding-top: 20px !important; }

.alert-danger {
  background-color: #FFCCCC;
  border: 1px solid #FF0000;
  padding: 10px 5px;
}
