#goal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);    
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#submit_goal_goal_input{
  font-size: 1.5em;
  height: 2em;
}

#goal_submit{
  font-size: 1.5em;
  height: 2em;
}
