<h1>Today my goal is</h1>
<%= form_for @conn, page_path(@conn, :submit_goal), [as: :submit_goal, method: 'post'], fn f -> %>
  <%= text_input f, :goal_input %>
  <input id='goal_submit' class='button-primary' value='Hey! Oh! Lets Go!' type='submit' maxlength='200'>
<% end %>

<div id='settings'>
  <i class="fa fa-wrench"></i> <a href='/settings'>Settings</a>
</div>
