<div id='goal'>
  <h1>Today my goal is</h1>
  <form id='goal_form'>
    <input id='goal_input' type='text'></input>
    <input id='goal_submit' class="button-primary" value="Lets Go" type="submit">
  </form>
</div>
